//colors
$gray: grey;
$white: white;
$royal_blue: royalblue;

.chat {
  display: flex;
  flex-direction: row;
  margin-top: -96vh;
  margin-left: 46px;
}
.messageEditor {

  border-radius: 4%;
  border-color: $gray;
  flex: 1;
}
.cannedMessages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -96vh;
  margin-left: 46px;
  margin-left: 4vw;
  margin-right: 4vw;
}
.nav {
  background-color: $white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 46px;
  height: 100vh;
  i:hover {
    color: $royal_blue !important;
    cursor: pointer;
  }
}
.leftChat {
  overflow-y: auto;
}
.navOption {
  cursor: pointer;
  font-size: 21px;
  margin-top:4px;
  margin-left:8px;
  text-align: center;
}
.navOptions {
  margin-top: 4vh;
}
.smallChatPart {
  flex: 1;
  margin-left: 1vw;
}
.biggerChatPart {
  flex: 3;
  margin-left: 1vw;
}
.marginRight {
  margin-right: 1vw;
}
.history {
  margin-top: -96vh;
  margin-left: 46px;
  margin-right: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leftHistorySide {
  display: flex;
  flex-direction: column;
}
app-filter-history {
  margin-left: 2vw;
}
app-chat-history-tab {
  margin-left: 2vw;
  padding: 1%;
  flex: 2;
  overflow-y: scroll;
}
app-chat-sessions {
  padding: 1%;
  margin-left: 2vw;
}