.search
{
  flex:1;
  align-items: flex-start;
  border:0;
  padding: 1%;
  outline: none !important;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
   i:hover{
    color: royalblue !important;
    cursor: pointer;
  }
  .searchOutput
  {
    background-color: rgba(211,211,211, 0.8);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding:1%;

  }