<div class="box rightChat container" >
  <img src="assets/profile_teaser.png" height="200px" width="200px" style="align-self: center;">
  <strong style="text-align:center;"> {{chosenUser.FirstName + ' ' + chosenUser.LastName }} </strong> <br/> <br/> <br/>
  <div style="margin-left:1vw;">
    <div style="display:inline;"><strong style="display:inline;">IP address: </strong>{{chosenUser.ip_address}}<br/></div>
    <div style="display:inline;"><strong>Location: </strong>{{chosenUser.agent_location}}</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>       
  <strong>Website visit history: </strong><span [innerHtml] = "chosenUser.website_history+'<br/>'"></span>   
</div>
