<div class="box middleChat container">
  <div id="messages"></div>
  <div>
    <strong>{{chosenUser.FirstName + ' ' + chosenUser.LastName}}</strong>
    <div style="float:right;">Translate&nbsp;&nbsp;&nbsp;
      <mat-slide-toggle  [(ngModel)] = "translateUserMessages" (ngModelChange)="translateMessages()"></mat-slide-toggle>
    </div>
  </div>

  <div id="messagesContainer">
    <div *ngFor="let m of allMessages;">
      <div [ngClass]="m.senderId == agentId ? 'agentMessageBox' : 'userMessageBox'">        
        <img class="icon" [src]="agentImg">
        <div [innerHtml]="m.content"></div>
        <div *ngIf=" (m.shouldTranslate && !m.isSenderAgent && translateUserMessages) || (m.shouldTranslate && m.isSenderAgent && translateMyMessages)"
         style="background-color: orange; font-size: 15px; margin-top:2%;">{{m.shouldTranslate}}</div>                
      </div>        
    </div>
  </div> 

  <div class="translateMessages">Automatically translate my messages? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-slide-toggle [(ngModel)] = "translateMyMessages"></mat-slide-toggle>
  </div>

  <div *ngIf="emojiKeyboard" class="box emojiKeyboard">

    <!--Emojis titles (which are emojis as well, one emoji per title): -->
      <div class="emoji" *ngFor="let category of emojis; let i = index;">
        <button (click)="emojiCatagory=i" class="emojiCatagory">{{category[0]}}</button>
      </div>

    <!--Actual emojis in the keyboard:  -->  
      <div class="emoji" *ngFor="let category of emojis; let i = index;">
        <div *ngIf="emojiCatagory==i">
          <button class="emoji" *ngFor="let e of category; let j = index;" (click)="addEmojiToCurrInput(i, j)" >{{e}}</button>
        </div>
      </div>

  </div>

    <div *ngIf="quickReply" class="box quickReply">
      <button class="cannedMessage btn" *ngFor="let cannedMessage of cannedMessages; let i = index;" (click)="addMessageToCurrInput(i)" >
           <h6>{{cannedMessage.name}} </h6>
      </button>
    </div>

    <div *ngIf="fileUpload" class="box whiteBackground" style="background-color:rgb(211,211,211);">
        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
        accept="image/*" auto="auto" (click) ="uploadFile()"></p-fileUpload>
    </div>

  <textarea class="messageEditor" [(ngModel)]='inputMessage'></textarea>

  <div class="messageToolBar" >
    <button class="btn hover" style="border-radius:0;" (click)="emojiKeyboard = !emojiKeyboard; quickReply=false; fileUpload=false;">😀</button>
   <!-- <button class="btn hover" style="border-radius:0;"(click)=" fileUpload = !fileUpload; quickReply=false; emojiKeyboard=false;">🔗 Attach file	</button> -->
    <button class="btn hover" style="border-radius:0;"(click)="quickReply = !quickReply; emojiKeyboard=false; fileUpload=false;">➕ Quick reply	</button>
    <button class="btn btn-primary sendMessageButton"
      (click)="sendMessage();">Submit</button>
  </div>

</div>