<div class="box leftChat container">
    
  <div class="container users"> <h4>Clients Chat</h4>
    <div style="margin-top:8%;">
      <div *ngFor="let u of allUsers; let i = index;">
          <span [ngClass]="u.isCurrentlyActive ? 'circle' : 'circleInActive'" id={{u.userID}}>
          </span> 
          <img src="assets/profile_teaser.png" height="21px" width="21px">
          <button class="btn user" (click)="chat(u, i)" [style.color]="chosenUserColors[i]">{{u.FirstName + ' ' + u.LastName + '  ' + u.branch}}</button>
      </div>
    </div>
  </div>
  <div class="agentAvilability">
      <strong>My status</strong>
      <div class="container" style="color: grey;">
        <button class="btn status" (click)="changeAgentState('0')" [style.color] ="colors[0]" >Available</button><br/>
        <button class="btn status" (click)="changeAgentState('1')" [style.color] ="colors[1]">Busy</button><br/>
        <button class="btn status" (click)="changeAgentState('2')" [style.color] ="colors[2]">Invisible</button><br/>
        <button class="btn status" (click)="changeAgentState('3')" [style.color] ="colors[3]">Offline</button>
    </div>
  </div>   
</div>


