<div style="display: flex; flex-direction: row">
    <input class="search" placeholder="Search" [(ngModel)]="searchInput"/> 
    <i class="fas fa-search fa-x3"  style="cursor: pointer;font-size: 50px"
    (click)="handleSearchClick()"></i>
</div>                 

<div *ngIf="searchOutput" class="searchOutput">
    <div *ngFor="let message of searchResults;">
            Name: {{message.name}}
        <br/>
            content: {{message.content}}
        <br/>
        <br/>
        <br/>
    </div>
</div>

