@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    background-color: white; 

}
body
{
    background-color: #f3f3f2;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}