<div class="box middleChat container">
  <div id="messages"></div>

  <div>
    <strong>{{chosenUser.FirstName + ' ' + chosenUser.LastName}}</strong>
    <div style="float:right; margin-right:40px; margin-top:8px;">
      <!-- Rounded switch -->
      Translate&nbsp;&nbsp;&nbsp;&nbsp;<label class="switch">
          <input type="checkbox" [(ngModel)]="translateUserMessages">
          <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div id="messagesContainer">
    <div *ngFor="let m of allMessages">
      <div [ngClass]="m.isSenderAgent ? 'agentMessageBox' : 'userMessageBox'" >        
        <img [ngClass]="m.isSenderAgent ? 'agentIcon' : 'userIcon'" [src]="m.isSenderAgent ? agentImg : userImg" >
        &nbsp;&nbsp;<div [innerHtml]="m.content" style="overflow-wrap: break-word; width:100%;"></div>
        <span *ngIf="m.shouldTranslate && translateUserMessages || (m.shouldTranslate && m.isSenderAgent && translateMyMessages)"
             style="background-color: orange; font-size: 15px; margin-top:2%;">{{m.shouldTranslate}}</span>        
      </div>        
    </div>
  </div>    

  <div class="translateMessages" style="margin-right:40px; margin-top:8px;">
    <!-- Rounded switch -->
    Automatically translate my messages?&nbsp;&nbsp;&nbsp;&nbsp;<label class="switch">
      <input type="checkbox" [(ngModel)]="translateMyMessages">
      <span class="slider round"></span>
    </label>
  </div>

  <div *ngIf="emojiKeyboard" class="box emojiKeyboard">

    <!--Emojis titles (which are emojis as well, one emoji per title): -->    
      <div class="emoji"  *ngFor="let category of emojis; let i = index;">
        <button (click)="emojiCatagory=i" class="emojiCatagory">{{category[0]}}</button>
      </div>

    <!--Actual emojis in the keyboard:  -->    
      <div class="emoji" *ngFor="let category of emojis; let i = index;">
        <div *ngIf="emojiCatagory==i">
          <button class="emoji" *ngFor="let e of category; let j = index;" (click)="addEmojiToCurrInput(i, j)">{{e}}</button>
        </div>
      </div>

  </div>

    <div *ngIf="quickReply" class="box quickReply">

      <button class="cannedMessage btn" *ngFor="let cannedMessage of cannedMessages; let i = index;" (click)="addMessageToCurrInput(i)" >
            <h6>{{cannedMessage.name}}</h6>
            <br/>
      </button>

    </div>

    <div *ngIf="fileUpload" class="box whiteBackground">
        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
        accept="image/*" auto="auto"></p-fileUpload>
    </div>

  <textarea class="messageEditor" [(ngModel)]='inputMessage'></textarea>

  <div class="messageToolBar" >
    <button class="btn hover noBorder" style="margin:2px;"  (click)="emojiKeyboard = !emojiKeyboard; quickReply=false; fileUpload=false;">😀</button>
   <!-- <button class="btn hover" style="border-radius:0;"(click)=" fileUpload = !fileUpload; quickReply=false; emojiKeyboard=false;">🔗 Attach file	</button> -->
   <button class="btn hover noBorder" style="margin:2px;" (click)="quickReply = !quickReply; emojiKeyboard=false; fileUpload=false;">➕ Quick reply	</button>
    <button [class]="sendMessagesPermission ? 'btn btn-primary sendMessageButton' : 'btn btn-primary disabled sendMessageButton'" 
      (click)="sendMessage()">Submit</button>
  </div>

</div>