 @import "../toggle.scss";
//colors
$white: white;
$medium_purple_70: rgba(147,112,219, 0.7);
$black_19: rgba(0,0,0,0.19);
$black_23: rgba(0,0,0,0.23);
$color_concrete_approx: #f3f3f2;
$color_alto_approx: #dadad9;
$dodger_blue_40: rgba(30,144,255, 0.4);
$color_quill_gray_approx: rgb(211,211,211);
$color_quill_gray_90_approx: rgba(211,211,211, 0.9);

.middleChat {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 92vh;
}
.agentMessageBox {
  padding: 5%;
  display: flex;
  background-color: $medium_purple_70;
  border-radius: 1vh;
  box-shadow: 0 10px 20px $black_19, 0 6px 6px $black_23;
}
.userMessageBox {
  box-shadow: 0 10px 20px $black_19, 0 6px 6px $black_23;
  background-color: $color_concrete_approx;
  padding: 5%;
  border-radius: 1vh;
  display: flex;
  order: 1;
}
.messageEditor {
  border-color: $color_alto_approx;
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 2%;
  flex: 1;
  align-items: flex-start;
  overflow: auto;
  outline: none;
  padding: 15px;
}
.messageToolBar {
  flex: 1;
}
.agentIcon {
  width: 100%;
  height: auto;
  width: 32px;
  height: 32px;
}
.userIcon {
  width: 100%;
  height: auto;
  width: 32px;
  height: 32px;
  order: 2;
  float: right;
}
textarea {
  resize: none;
}
.emojiKeyboard {
  background-color: $color_quill_gray_approx;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
  margin-top: -10vh;
  z-index: 999999;
}
.emoji {
  background-color: $color_quill_gray_approx;
  border: 0;
  cursor: pointer;
  outline: none;
  &:focus {
    background-color: $medium_purple_70;
    font-weight: bold;
    border-radius: 10px;
  }
}
.emojiCatagory {
  background-color: $dodger_blue_40;
  border-radius: 10px;
  outline: none;
}
.quickReply {
  background-color: $color_quill_gray_approx;
  height: 20vh;
  width: 100%;
  overflow: auto;
  margin-top: -10vh;
  z-index: 999999;
  align-items: baseline;
  flex-grow: 0;
  flex-direction: column;
}
.cannedMessage {
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0);
  border-radius: 0;
  font-style: bolder;
}
#messagesContainer {
  flex: 4;
  overflow-y: auto;
  margin-top: 1vw;
}
.translateMessages {
  margin-left: auto;
}
.whiteBackground {
  background-color: $color_quill_gray_approx;
}
.sendMessageButton {
  float: right;
  border-radius: 0;
}
.noBorder {
  border-radius: 0 !important;
}
.hover button:hover {
  background-color: $color_quill_gray_90_approx !important;
}