<!--
<mat-slide-toggle style="margin-top:18px;margin-right:18px; margin-left:18px;">Apply</mat-slide-toggle>

  <mat-form-field style="margin-right:18px;">
    <mat-select placeholder="By">
      <mat-option value="By">
        By
      </mat-option>
      <mat-option value="option2">
        Option2
      </mat-option>
      <mat-option value="option3">
        Option3
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="Option1">
        Option1
      </mat-option>
      <mat-option value="Option2">
        Option2
      </mat-option>
      <mat-option value="Option3">
        Option3
      </mat-option>
    </mat-select>
  </mat-form-field>
-->
