<div class="box rightChat container">
    <img src="assets/profile_teaser.png" height="200px" width="200px" style="align-self: center;">
  <strong style="text-align:center;"> {{chosenUser.FirstName + ' ' + chosenUser.LastName }} </strong> <br/> <br/> <br/>
  <div style="margin-left:1vw;">
    <div style="display:inline;"><strong style="display:inline;">IP address: </strong>{{chosenUser.userIp}}<br/></div>
    <div style="display:inline;"><strong>Location: </strong>{{chosenUser.userLocation}}</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <strong>
    <span style="display:inline-block" (click)="getUpdatedAgentsList()">
    Transfer<i class="material-icons" style="cursor:pointer;">&nbsp;redo</i>
    <div *ngIf="isAgentClickedtransferChat">
      Available Agents To Transfer:
      <tr *ngFor="let agent of allAvailableAgents; let i = index;"
      class="container-fluid" style="display:flex; background-color:rgba(144,144,144, 0.7); cursor:pointer;"
      (click)="transferChat(i, chatID)">          
        <td *ngIf="agent.agentAvailability != 'offline' && agent.agentID != ourAgentID">{{agent.FirstName + ' ' + agent.LastName}}</td>              
      </tr>
    </div>
    <br/>  
  </span>  
  <br/>
    <span style="display:inline-block" (click)="displayHistory=true;">
      Stick<i class="material-icons" style="cursor:pointer;" (click)=stickUserToCurrAgent()>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gavel</i>    
    </span>  
    <br/>
    <br/>
    <br/>
    Website visit history: </strong><span [innerHtml] = "chosenUser.website_history+'<br/>'"></span>

  </div>
</div>

