//colors
$white: white;
$color_japanese_laurel_approx: green;
$gray: grey;
$web_orange: orange;
$royal_blue: royalblue;

.leftChat {
  background-color: $white;
  height: 92vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.users {
  font-weight: bold;
  flex: 2;
}
.agentAvilability {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.status {
  &:focus {
    color: $color_japanese_laurel_approx;
    font-weight: bold;
  }
  &:hover {
    color: $color_japanese_laurel_approx !important;
    font-weight: bold;
  }
}
.btn {
  background-color: rgba(0,0,0,0);
  outline: none !important;

  box-shadow: none;
}
.circle:before {
  content: ' \25CF';
  font-size: 100%;
  display: inline-flex;
  color: $color_japanese_laurel_approx;
}
.circleInActive:before {
  content: ' \25CF';
  font-size: 100%;
  display: inline-flex;
  color: $gray;
}
.busyCircle:before {
  content: ' \25CF';
  font-size: 100%;
  display: inline-flex;
  color: $web_orange;
}
.user:hover {
  color: $royal_blue !important;
  font-weight: bold;
}