//colors
$royal_blue: royalblue;
$color_quill_gray_80_approx: rgba(211,211,211, 0.8);
$black_19: rgba(0,0,0,0.19);
$black_23: rgba(0,0,0,0.23);

.search {
  flex: 1;
  align-items: flex-start;
  border: 0;
  padding: 1%;
  outline: none !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.searchOutput {
  background-color: $color_quill_gray_80_approx;

  box-shadow: 0 10px 20px $black_19, 0 6px 6px $black_23;
  padding: 1%;
}
i:hover {
  color: $royal_blue !important;
  cursor: pointer;
}