<div class="nav box">

  <div class="navOptions">   
    <img src="assets/internalChat.svg" class="material-icons navOption" [style.color]="chatTab ? 'royalblue':'black'" (click)="chatTab=!chatTab; cannedMessagesTab = false; agentsChatTab = false; chatType='Clients Chat'; historyTab = false; ">
    <br/>
    <img src="assets/externalChat.svg" class="material-icons navOption" [style.color]="agentsChatTab ? 'royalblue':'black'" (click)="agentsChatTab=!agentsChatTab; cannedMessagesTab = false; chatTab=false;  chatType='Agents Chat';historyTab = false;">
    <br/>    
    <img src="assets/history.svg" class="material-icons navOption" [style.color]="historyTab ? 'royalblue':'black'" (click)="historyTab=!historyTab; cannedMessagesTab = false; chatTab = false; agentsChatTab=false;">
    <br/>    
    <img src="assets/editCannedMessages.svg" class="material-icons navOption" [style.color]="cannedMessagesTab ? 'royalblue':'black'" (click)="cannedMessagesTab=!cannedMessagesTab; chatTab = false; historyTab = false; agentsChatTab=false;">
    <br/>
    
    <i class="material-icons" (click) = "clickedNotificationButton()" [style.color]="color" style="margin-top:80px;">textsms</i>
  </div>

</div>


<div class="chat" *ngIf="chatTab">
  <app-left-chat class="smallChatPart" [chatType]="chatType" (event)="openMiddleChat($event) "></app-left-chat>
  <app-middle-chat class="biggerChatPart" *ngIf="isChatActive && !agentsChatTab && chatTab" [chosenUser]="_chosenUser"></app-middle-chat>
  <app-right-chat class="smallChatPart marginRight" *ngIf="isChatActive && !agentsChatTab && chatTab" [chosenUser]="_chosenUser"></app-right-chat>
</div>


<div class="chat" *ngIf="agentsChatTab">
  <app-left-chat-agents class="smallChatPart" (event)="openMiddleChat($event)"></app-left-chat-agents>
  <app-middle-chat-agents class="biggerChatPart" *ngIf="isChatActive && !chatTab && agentsChatTab" [chosenUser]="_chosenUser"></app-middle-chat-agents>
  <app-right-chat-agents class="smallChatPart marginRight" *ngIf="isChatActive && !chatTab && agentsChatTab" [chosenUser]="_chosenUser"></app-right-chat-agents>
</div>


<div class="cannedMessages" *ngIf="cannedMessagesTab">

    <app-search-messages style="flex:1; flex-direction: column;" class="box" ></app-search-messages>
    <app-canned-messages style="flex:1; margin-top:1.7vw" ></app-canned-messages>

</div>


<div class="history" *ngIf="historyTab" style="height: 90vh;">

  <div class="leftHistorySide">
    <app-filter-history class="box" style="margin-bottom: 10vh;"></app-filter-history>
    <app-chat-sessions class="box" ></app-chat-sessions>
  </div>
  <app-chat-history-tab class="box"></app-chat-history-tab>

</div>
