<table class="box cannedMessagesTable table borderless">
  <tr >
    <th><strong>st.</strong></th>
    <th><strong>ID</strong></th>
    <th><strong>Name</strong></th>
    <th><strong>Message</strong></th>
    <i class="fas fa-plus-circle addButton" (click)="addMessage=!addMessage;" ></i>

  </tr>
  <tr class="row" *ngFor="let message of allCannedMessagesOfCurrentAgent; let i = index;"
    (mouseenter)="mouseEnter(i)"  (mouseleave)="mouseLeave(i)" >
    <td >{{i + 1}}</td>
    <td>{{message.canned_messageID}}</td>
    <td>{{message.name}}</td>
    <td style="flex-wrap:wrap;">{{message.content}}</td>
    <td *ngIf="editRow[i]">
      <i class="fas fa-marker" 
      (click)="editMessageBox=!editMessageBox; updatedMessageName=message.name; updatedMessageContent=message.content; messageIDToUpdate=message.canned_messageID" ></i>      
      <i class="fas fa-trash" style="margin-left:6px"
      (click)="messageIDToDelete=message.canned_messageID; handleDeleteCannedMessage()"></i>
    </td>
  </tr>
  
  <div *ngIf="editMessageBox" class="editMessageBox">
      <textarea placeholder={{updatedMessageName}} [(ngModel)]='updatedMessageName'>
        </textarea>
      <textarea placeholder={{updatedMessageContent}} [(ngModel)]='updatedMessageContent'>
      </textarea>
        <button class="btn btn-primary container-fluid" style="border-radius:0;"
        (click)="handleEditMessage(i, 0, 0, editedMessage);">UPDATE</button>
  </div>
  <div *ngIf="addMessage" class="editMessageBox">
      <textarea placeholder="Enter the name of the message here..." [(ngModel)]='newlyCreatedMessageName'>
      </textarea>
      <textarea placeholder="Enter the message content here..." [(ngModel)]='newlyCreatedMessageContent'>
      </textarea>
        <button class="btn btn-primary container-fluid" style="border-radius:0;"
        (click)="handleAddCannedMessage();">SUBMIT</button>
  </div>
</table>
