//colors
$white: white;
$royal_blue: royalblue;
$color_quill_gray_80_approx: rgba(211,211,211, 0.8);
$black_19: rgba(0,0,0,0.19);
$black_23: rgba(0,0,0,0.23);

.cannedMessagesTable {
	background-color: $white;
	display: flex;
	overflow: auto;
	flex: 8;
}
.table {
	tbody tr:hover td {
		color: $royal_blue;
		font-weight: bold;
		cursor: pointer;
	}
	i:hover {
		color: $royal_blue;
		font-weight: bold;
		cursor: pointer;
	}
}
.borderless {
	td {
		border: none;
	}
	th {
		border: none;
	}
}
.editMessageBox {
	background-color: $color_quill_gray_80_approx;
	box-shadow: 0 10px 20px $black_19, 0 6px 6px $black_23;
	padding: 1%;
}
.addButton {
	margin-top: 11px;
	font-size: 22px;
}
.row
{
  max-width: 80vw;
  margin-left: 3px;
}